<form [formGroup]="userForm" (ngSubmit)="addUser()">
  <div>
    <label for="name">Nombre:</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div>
    <label for="birthdate">Fecha de nacimiento:</label>
    <input type="date" id="birthdate" formControlName="birthdate" />
  </div>
  <div>
    <label for="gender">Género:</label>
    <select id="gender" formControlName="gender">
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
      <option value="Otro">Otro</option>
      <option value="Helicoptero de combate">Helicoptero de combate<</option>
    </select>
  </div>
  <div>
    <label for="country">País:</label>
    <select id="country" formControlName="country">
      <option value="España">España</option>
      <option value="Francia">Francia</option>
      <option value="Alemania">Alemania</option>
    </select>
  </div>
  <div>
    <label for="language">Idioma:</label>
    <select id="language" formControlName="language">
      <option value="español">Español</option>
      <option value="inglés">Inglés</option>
      <option value="francés">Francés</option>
    </select>
  </div>
  <button type="submit">Añadir usuario</button>
</form>
 
<div>
  <h2>Usuarios</h2>
  <ul>
    <li *ngFor="let user of users; let i = index">
      <span>{{ user.name }}</span> - {{ user.birthdate | date:'dd/MM/yyyy' }} - {{user.country}} - {{user.language}} - {{user.gender}}
      <button (click)="editUser(i)">Editar</button>
      <button (click)="deleteUser(i)">Eliminar</button>
    </li>
  </ul>
</div>